//****************
//** Colors
//****************

$primary-01: hsl(256, 26%, 20%);
$primary-02: hsl(216, 30%, 68%);
$accent-color-01: hsl(300, 7%, 67%);
$neutral-50: hsl(0, 0%, 100%);
$neutral-200: hsl(0, 0%, 98%);
$neutral-400: hsl(273, 4%, 51%);
$neutral-700: hsl(270, 9%, 17%);

//****************
//** Font Size
//****************

$fs-01: 7.2rem;
$fs-02: 5.6rem;
$fs-03: 4.8rem;
$fs-04: 4rem;
$fs-05: 2.8rem;
$fs-06: 2rem;
$fs-07: 1.6rem;
$fs-08: 1.4rem;
